<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section about">
          <h3>À propos</h3>
          <p>Notre site propose des résidences et appartements de qualité pour répondre à tous vos besoins.</p>
        </div>
  
       /* <!--div class="footer-section links">
          <h3>Liens rapides</h3>
          <ul>
            <li><a routerLink="/">Accueil</a></li>
            <li><a routerLink="/residences">Résidences</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/about">À propos</a></li>
          </ul>
        </div-->
  
        <div class="footer-section contact">
          <h3>Contact</h3>
          <p>Email : chedi.cherif@esprit.tn</p>
          <p>Téléphone : +216 94933275</p>
        </div>
  
        <div class="footer-section social">
          <h3>Suivez-nous</h3>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
  
      <div class="footer-bottom">
        <p>&copy; 2025 Nom du site | Tous droits réservés</p>
      </div>
    </div>
  </footer>
  